.color-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.color-list .color-list-li {
    width: 100%;
    max-width: 30rem;
    display: flex;
    justify-content: start;

    color: rgb(var(--mycolor));
    background-color: transparent;
    border-style: solid;
    border-width: 3px;
    border-radius: 4px;

    margin: 0.3rem;
    padding: .5rem 2rem .5rem 2rem;
    font-size: 1.2rem;

    transition: 300ms;
}

.color-list-li:hover, .color-list-li:active {
    background-color: rgba(var(--mycolor), 0.3);
    
}

.color-list .color-list-li > span {
    font-weight: bold;
    padding-right: 1rem;
}

.color-list > *:nth-child(4n + 1) {
    --mycolor: 255, 182, 99;
}

.color-list > *:nth-child(4n + 2) {
    --mycolor: 102, 181, 255;
}

.color-list > *:nth-child(4n + 3) {
    --mycolor: 127, 202, 97;
}

.color-list > *:nth-child(4n + 4) {
    --mycolor: 255, 145, 206;
}