[Unit]
Description=An extensive web app for hosting fun and interactive pub quizzes.
After=network.target

[Service]
WorkingDirectory=/absolute/path/to/this/repository
User=my_username
ExecStart=/usr/bin/npm start -- quizzes/my_quiz/quizconfig.json
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target