<template class="crowdjudge">
    <p>Active player:</p>
    <div id="active_player_div"></div>
    <p>DOUBLE CLICK ON FOLLOWING. NOT SINGLE CLICK!!</p>
    <div id="btn_container_div"></div>
    
    <label for="correct_threshold_inp">Set correct threshold:</label>
    <input type="number" id="correct_threshold_inp">
    <button id="correct_threshold_btn">Set</button>
    <label for="incorrect_threshold_inp">Set incorrect threshold:</label>
    <input type="number" id="incorrect_threshold_inp">
    <button id="incorrect_threshold_btn">Set</button>
</template>