/* Header stuff: */

html {
    font-size: min(120%, 2.7vh);
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

header {
    margin-bottom: 1px;
    overflow: hidden;
}

#leaderboard {
    display: flex;
    margin-left: 3rem;
}

.player_card {
    box-shadow: 0 .2rem 0.5rem #00000099;
    border: #1C2F33 solid 2px;
    margin: 0 0.5rem 0 0.5rem;
    padding: 0 1rem 0 1rem;
    width: min(12rem, 20vw);
    height: 5rem;
    display: grid;
    grid-template-columns: 35% auto;
    overflow: hidden;
    background-color: white;

    transition: transform 300ms;
}

.player_card div {
    display: flex;
}

.player_card_nth {
    font-size: 3rem;
    font-weight: bold;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    align-items: center;
    justify-content: end;
    margin-right: min(1.2rem, 2vw);
}

.player_card_name {
    font-size: 1.2rem;
    font-weight: bold;
    grid-column: 2;
    align-items: end;
    white-space: nowrap;
}

.player_card_score {
    grid-column: 2;
}


/* Main screen stuff: */
#main {
    font-size: 1.3em;
}

.quote {
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    max-height: 100%;
}

.quote::before {
    content: "“";
}

.quote::after {
    content: "”";
}

.big_logo {
    height: 40vh;
    margin-bottom: 1rem;
}

/* Loading bar: */
.timer_bar {
    width: 18rem; /* default, but overwrite if needed overwrite ;-) */
    height: 1rem;
    background-color: aliceblue;
    border: #90aeb3 solid 1px;
    border-radius: 0.5rem;
    margin: 0.5rem;
    overflow: hidden;
}

.timer_bar > .timer_bar_fill {
    background-color: #9bced6;
    height: 0.9rem;
    border-radius: 0.5rem;
    border: white solid 2px;
    animation: timer_bar_progression forwards linear var(--time_to_fill);
}

@keyframes timer_bar_progression {
    from { width: 0%; }
    to { width: 100%; }
}